<%= form_for([@project, @task]) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-lg-offset1-1 col-lg-10 jumbotron">
    <%= form_for([@project, @task]) do |f| %>
      <div class="field">
        <%= f.label :title %><br>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :description %><br>
        <%= f.text_area :description, class: "form-control", rows: 5 %>
      </div>
        <div class="">
            <%= f.label :difficulty %>
            <%= f.select :difficulty, options_for_select(1..5) %>
            <%= f.label :due_date, style: "padding-left: 40px" %>
            <%= f.date_select :due_date%>
            <%= f.label :completed, style: "padding-left: 40px" %>
            <%= f.check_box :completed, class: "check-box" %>
       </div>
      <div style="padding-top: 15px">
      <%= f.submit class: "btn btn-primary btn-lg" %>
      </div>
    <% end %>
  </div>
<% end %>